USE [master]
GO
/****** Object:  Database [MovieArchive]    Script Date: 1.11.2024 16:31:02 ******/
CREATE DATABASE [MovieArchive]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieArchive', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieArchive.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieArchive_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieArchive_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieArchive].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieArchive]
GO
/****** Object:  Table [dbo].[Tbl_Movies]    Script Date: 1.11.2024 16:31:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Movies](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Category] [varchar](20) NULL,
	[Link] [varchar](100) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Points]    Script Date: 1.11.2024 16:31:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Points](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Category] [varchar](20) NULL,
	[Link] [varchar](100) NULL,
	[Point] [varchar](2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
